<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .err{
            color: red;
        }
    </style>
</head>
<body>


<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">

    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
        <p class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>

    <div>
        <label>Email</label>
        <input type="text" th:field="*{email}">
        <p class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>

    <div>
        <label>Age</label>
        <input type="number" th:field="*{age}">
        <p class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    </div>

    <br>
    <input type="submit" value="update">

</form>


</body>
</html>