<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .news{
            border: 1px green solid;
            border-radius: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px 10px;
            width: 50%;
            margin: auto;
        }
    </style>

</head>
<body>

<h1>News List</h1>

<a href="/news/create">create</a>

<div th:each="news : ${newsList}">

    <div class="news">
        <a th:href="@{/news/{id}(id=${news.getId()})}">   <h2 th:text="${news.getName()}"></h2>    </a>
        <p th:text="${news.getText()}"></p>

        <form th:method="DELETE" th:action="@{/news/{id}(id=${news.getId()})}">
            <input type="submit" value="delete">
        </form>

        <a th:href="@{/news/edit/{id} (id=${news.getId()})}"> edit </a>
    </div>

</div>

</body>
</html>