<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">



    <!--  Подключение файла MusicPlayer.Properties  -->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>


    <bean id="classicalBean"
          class="uz.zaripov.musicPlayer.ClassicalMusic">

    </bean>

    <bean id="rockBean"
          class="uz.zaripov.musicPlayer.RockMusic">

    </bean>

        <!--  IoC через конструктор с ссылкой на зависимость  -->
<!--    <bean id="musicPlayer" class="uz.zaripov.musicPlayer.MusicPlayer">-->
<!--        <constructor-arg ref="classicalBean"/>-->
<!--    </bean>-->


        <!--  IoC через Setter  с помошью property  -->
    <bean id="musicPlayer" class="uz.zaripov.musicPlayer.MusicPlayer">
        <property name="music" ref="rockBean"/>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>